*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav-bar{
    background-color: #222e64;
    padding: 15px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
.images{
    display: flex;
}
.one{
    display: flex;
    align-items: center;
}
.one p{
    color: white;
    margin-left: 5px;
}
.three{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.three p{
    color: #fff;
    margin-left: 5px;
}
.main{
    display: flex;
}
.main .two{
    margin-left: 5px;
}
/* main-1 */
.main-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .menu li {
    float: left;
  }
  
  .menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .menu .active {
    background-color: #04AA6D;
  }
  .us{
    height: 475px;
    
    background-size: cover;
    position: relative;
  background-repeat: no-repeat;
    background:  linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) , url(../image/blog-details/Rectangle\ 2.png) ;
}
.about{
    text-align: center;
}
.about h1{
  color:  rgba(255, 255, 255, 1); 
  position: absolute;
  top: 200px;
  left: 627px;
}
.about h4{
   color:  rgba(255, 255, 255, 1);
   position: absolute;
   top: 238px;
   left: 635px;
}